@font-face {
  font-family: "DFKai";
  src: url("../../fonts/kaiu.ttf") format("woff2");
}
.my-waiting {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.363);
  text-align: center;
  display: none;
}
.my-waiting img {
  margin-top: 18%;
  width: 20%;
}

.check_in {
  position: relative;
}
.check_in_header {
  display: flex;
  flex-direction: row;
  height: 200px;
  background-image: linear-gradient(to bottom right, rgb(253, 253, 253), rgb(1, 91, 151));
  position: relative;
}
.check_in_header .logo-space {
  position: absolute;
  top: 40px;
  left: 50px;
  width: 130px;
}
.check_in_header > div {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}
.check_in_header > div h1 {
  margin-top: 50px;
  font-weight: bold;
  font-size: 4.5rem;
  font-family: "DFKai";
  letter-spacing: 3px;
  text-shadow: 5px 5px 5px #333;
}
.check_in_header > div h2 {
  font-weight: bold;
  font-size: 3rem;
  margin-top: -3px;
  font-family: "DFKai";
  text-shadow: 5px 5px 5px #333;
}
.check_in_content {
  width: 100%;
  height: 77.8vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.check_in_content .check_from {
  width: 350px;
  text-align: center;
  border-right: 1px #ccc dotted;
  position: relative;
}
.check_in_content .check_from > div {
  margin: 1rem 0;
}
.check_in_content .check_from .check-form-input {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
}
.check_in_content .check_from .check-form-input input[type=text] {
  width: 100%;
  height: 30px;
}
.check_in_content .check_from .check-form-input .btn-submit-barcode {
  letter-spacing: 2px;
  font-weight: bold;
  border: 2px;
  padding: 3px 15px;
  position: absolute;
  right: 12px;
  top: 22px;
}
.check_in_content .check_from #last-check-in {
  color: #ccc;
}
.check_in_content .check_from .digiwin_space {
  margin-top: 50%;
}
.check_in_content .check_from .digiwin_space img {
  width: 80%;
}
.check_in_content .check_from .digiwin_space label {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: "DFKai";
  letter-spacing: 5px;
  color: #01aff0;
}
.check_in_content .check_result {
  width: 100%;
  position: relative;
}
.check_in_content .check_result::before {
  content: "";
  background-image: url("../../images/ctcvnhcmc_logo.png");
  background-repeat: no-repeat;
  background-size: 500px 450px;
  background-position: 100% 120%;
  opacity: 0.08;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.check_in_content .check_result #waiting-main {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.check_in_content .check_result #waiting-main h2 {
  font-size: 5rem;
  font-weight: bolder;
  font-family: "DFKai";
  letter-spacing: 5px;
  color: rgb(1, 91, 151);
}
.check_in_content .check_result #waiting-main h3 {
  font-size: 5rem;
  font-weight: bolder;
  font-family: "DFKai";
  letter-spacing: 5px;
  color: rgb(1, 91, 151);
}
.check_in_content .check_result #barcode-error,
.check_in_content .check_result #barcode-not-active {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  justify-self: center;
  align-content: center;
  font-size: 5rem;
  font-weight: bold;
  font-family: "DFKai";
  letter-spacing: 5px;
  color: rgb(143, 3, 3);
  display: none;
}
.check_in_content .check_result #guest-main {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
}
.check_in_content .check_result #guest-main .name-space {
  display: flex;
  flex-direction: row;
  height: 80px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.check_in_content .check_result #guest-main .name-space #guest_company {
  font-size: 3.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgb(131, 131, 131);
  color: rgb(1, 91, 151);
  margin: auto;
}
.check_in_content .check_result #guest-main .guest-info {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: bold;
  min-height: 50px;
  padding-left: 50px;
}
.check_in_content .check_result #guest-main .guest-info div:nth-child(1) {
  color: #666;
  margin-right: 5px;
}
.check_in_content .check_result #guest-main .guest-info div:nth-child(2) {
  color: rgb(1, 91, 151);
}