/* 
        Document   : admin_style
        Created on : 2016/12/30, 上午 11:45:33
        Author     : Administrator
        Description:
            Purpose of the stylesheet follows.
    */

root {
  display: block;
}
a {
  text-decoration: none;
}

.error{
  font-size: 0.8rem;
  color: #972103;
  padding-left: 3px;
}

#mess {
  background-color: #f5eecd;
  position: relative;
  height: 50px;

  .close {
    font-size: 0.8rem;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 0.8;
    color: #972103;
    &:hover {
      opacity: 1;
    }
  }
  .mess_text {
    font-size: 0.7rem;
    padding-top: 0.1rem;
    padding-left: 0.5rem;
  }

  .my_button {
    display: flex;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0.8rem;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    width: fit-content;
    opacity: 0.8;
    background-color: #2b5fa3;
    color: #e7e7e7;
    &:hover {
      opacity: 1;
      color: #fff;
    }
  }
}

.my_button_warning {
  background-color: #972103 !important;
}

#show-img {
  background-position: center center;
  float: left;
  margin-bottom: 10px;
  border: 0px solid #999999;
  border-radius: 3px;
  background-size: cover;
  display: inline-block;
  min-height: 250px;
  width: 300px;
}

.update-nag {
  height: 0px !important;
  display: none !important;
}

//23/05/2025 =========
.form-row {
  .form-row-columns {
    display: flex;
    flex-direction: row;
    .column {
      flex: 1;
      margin: 0.5rem;
      .cell-text {
        font-size: 1rem;
        font-weight: bold;
      }
      .cell-input {
        input{
          width: 90%;
        }
        img {
          width: 60px;
        }
      }
    }
  }
}

.form-row-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 95%;
  .cell-button {
    margin: 0.5rem 1rem;
    input[type="submit"] {
      background-color: #2b5fa3d5;
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 3px;
      font-weight: bold;
      font-size: 0.8rem;
      border: 0px;
      cursor: pointer;
      &:hover {
        color: #fff;
        background-color: #2b5fa3;
      }
    }
  }
}

.my_button {
  background-color: #2b5fa3d5;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-weight: bold;
  font-size: 0.8rem;
  &:hover {
    color: #fff;
    background-color: #2b5fa3;
  }
}

.report_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div label {
    margin-bottom: 0.5rem;
  }

  div:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    label {
      margin: 1rem 3rem 1rem 0rem;
    }
  }

  div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    a {
      margin: 1rem 3rem 1rem 0rem;
    }
  }
}

.report_content {
  .report_list {
    .report_title {
      font-size: 1.2rem;
      font-weight: bold;
      background-color: #819696;
      color: #fff;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        border-right: #e7e7e7 solid 1px !important;
      }
    }
    .report_row {
      display: flex;
      flex-direction: row;
      align-content: flex-start !important;
      &:nth-child(even) {
        background-color: #dddddd;
      }
      div {
        padding: 6px 2px;
        border-right: transparent solid 1px;
        font-size: 1rem;
      }

      div:nth-child(1) {
        width: 60px;
      }
      div:nth-child(2) {
        width: 150px;
      }
      div:nth-child(3) {
        width: 100px;
      }
      div:nth-child(4) {
        width: 200px;
      }
      div:nth-child(5) {
        width: 600px;
      }
      div:nth-child(6) {
        width: 80px;
      }
      div:nth-child(7) {
        width: 90px;
      }
    }
  }
}

#setting_check_in{
  div{
    padding:  1rem 0.5rem;
  }
}
