.check-column {
    width: 30px;
}
.column-comments,
.column-tags {
    display: none;
}
/* STYLE CUA GRID MEMBER */
.column-company {
    width: 500px;
}
.column-member_logo,
.column-super_img {
    width: 70px;
    text-align: center;
}
.column-title {
    width: 600px;
}
.column-member_contact {
    width: 100px;
}
.column-member_industry {
    width: 200px;
}
.column-stt {
    width: 70px;
}

.column-create_date {
    width: 50px;
}

.column-check_in {
    width: 70px;
}

.column-barcode {
    width: 120px;
}

.column-fullname {
    width: 150px;
}

.column-status {
    width: 80px;
}
